.post-flex-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: auto;
    margin-left: 200px;
    width: 60%;
    margin-top: 70px;
}

.post-flex-container > * {
    width: 100%;
    height: auto;
    align-self: flex-start;
}

.post-h1 {
    font-weight: 500;
}

.post-hr {
    border: none;
    margin: 20px auto;
    width: 100%;
    height: 2px;
    background-color: #FFF;
}

.ckeditor
.ck-editor__editable {
    width: 100%; 
    height: auto; 
    z-index: 10;
    direction: ltr;
}

.ckeditor ol, .ckeditor ul {
    margin-left: 0;
    padding-left: 40px; 
}

.create-posts {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: #FFF;
}

.thumbnail-preview {
    max-width: 100%;
    max-height: 200px; 
    margin-top: 10px;
  }

  
.create-post-upload-image {
    display: flex;
    /* border: 2px solid #f1f1f1; */
    height: auto;
    margin: 10px;
    padding: 10px;
    font-size: 18px;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.bt-upload-img {
    margin-left: 20px;
}

.upload-img {
    border: 1px solid #1877f2;
    background-color: #FFF;
    border-radius: 25px;
    font-size: 18px;
    padding: 10px 20px;
    color: #1877f2;
    font-weight: 500;
}

.upload-img:hover {
    cursor: pointer;
    background-color: #f1f1f1;
}

.post-hrs {
    border: none;
    width: 98%;
    height: 2px;
    background-color: #f1f1f1;
    margin: 10px;
}

.button-post {
    display: flex;
    justify-content: flex-end;
  }

.bt-post {
  border: none;
  background-color: DodgerBlue;
  color: white;
  border-radius: 25px;
  font-size: 1rem;
  font-weight: 500px;
  margin: 10px;
  padding: 10px 20px;
}

.bt-post:hover{
    cursor: pointer;
}

.bt-post-cancel {
    border: 1px solid #1877f2;
    background-color: #FFF;
    color: #1877f2;
    border-radius: 25px;
    font-size: 1rem;
    font-weight: 500px;
    margin: 10px;
    padding: 10px 20px;
}

.bt-post-cancel:hover {
    cursor: pointer;
    border: 1px solid red;
    color: red;
}