.pagination-controls {
    display: flex;
    justify-content: space-between;
}

.pagination-controls > * {
    padding: 10px;
}

.bt-search {
    display: inline-block;
    background: none;
    border: none;
    font-size: 1rem;
}

.bt-search:hover {
    cursor: pointer;
    text-decoration: underline;
}