@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap'); 

body {
  margin: 0;
  padding: 0;
  background-color: #F1F1F1;
}

* {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
}